theme "tokyo-night-dark"
pane_frame_style "full"
default_mode "normal"
scroll_mode_sync false

// Save layout & scrollback history on session exit
session_serialization true
serialize_pane_viewport true
scrollback_lines_to_serialize 10000

keybinds {
    locked {
        unbind "Ctrl g"
        bind "Ctrl Space" { SwitchToMode "normal"; }
    }
    normal {
        bind "Ctrl f" { ToggleFocusFullscreen; }
        bind "Alt PageUp" { GoToPreviousTab; }
        bind "Alt PageDown" { GoToNextTab; }
    }
    shared_except "locked" {
        unbind "Ctrl g"
        bind "Ctrl Space" { SwitchToMode "locked"; }
    }
}
